<footer class="bg-dark text-light">
    <div class="container-fluid p-4 p-md-5">
        <h4 class="border-bottom border-light pb-2">AuTomtit</h4>

        <ul class="nav">
            <li class="nav-item mr-auto">
                <ul class="nav my-2 mx-4">
                    <li class="nav-item">
                        <b class="px-2">Follow Us</b>
                        <b class="px-2">|</b>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light py-0" href="https://github.com/Cytosine1999/AuTomtit">Github</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <ul class="nav my-2 mx-4">
                    <li class="nav-item">
                        <b class="px-2">Thanks</b>
                        <b class="px-2">|</b>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light py-0" href="https://www.djangoproject.com/">Django</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light py-0" href="https://getbootstrap.com/">Bootstrap</a>
                    </li>
                </ul>
            </li>
        </ul>

        <small class="justify-content-center text-secondary m-0">
            Copyright &copy; 2018 AuTomtit Cytosine | Developed by
            <b>
                <a class="text-secondary" href="https://github.com/Cytosine1999">Cytosine</a>
            </b> | under <b>MIT</b> Licence
        </small>
    </div>
</footer>
